nav {
  width: 300px;
  position: absolute;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}
nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}



.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.box {
	width: 100%;
	line-height: 50px;
	font: 15px, sans-serif;
	text-align: center;
	letter-spacing: 3px;
	color: white;
}


.dark_blue {
	background-color: #3700ED;

}

.light_blue {
	background-color: #26D5EE;
}

.green {
	background-color: #67C34D;
}

.red {
	background-color: #DB0023
}

.orange {
	background-color: #DC7606
}

